<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DBConn" value="server=LAPTOP-OFL4DOQA;database=Absolute;Integrated Security=true;"/>-->
    <add key="DBConn" value="Data Source=51.143.185.157;Initial Catalog=Absolute; uid=admins;Password=Inform@2020*;Integrated security=false;" />
    <!--<add key="DBConn" value="server=WLNewServer;database=Absolute;Integrated Security=true;"/>-->

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
