<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.67.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.67.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.67.0" targetFramework="net48" />
  <package id="Google.Apis.Gmail.v1" version="1.67.0.3287" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="RestSharp" version="106.12.0" targetFramework="net46" />
  <package id="SSH.NET" version="2020.0.1" targetFramework="net46" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net48" />
  <package id="System.Management" version="7.0.2" targetFramework="net48" />
</packages>